<table class="table table-striped table-responsive-md btn-table">

    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CATEGORÍA</th>
            <th>DESCRIPCIÓN</th>
            <th>PRECIO</th>
            <th>IMG</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products">
            <th scope="row"> {{product.id}} </th>
            <td> {{product.name}} </td>
            <td> {{product.category}} </td>
            <td> {{product.description}} </td>
            <td> {{product.price}} </td>
            <td> {{product.img}} </td>
            <td class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger"
                (click)="deleteProduct(product.id)">Delete</button>
            </td>
        </tr>
    </tbody>

</table>