<img src="./assets/logo.png" class="img-fluid" height="150" width="150"/>
<h3 class="ms-1">Introduce un producto nuevo</h3>
<form id="contactForm" [formGroup]="form" class="ms-2">
    <label class="mt-3">Nombre: </label>
    <input placeholder="Introduce el nombre" formControlName="name" class="form-control"  name="name">
    
    <label class="mt-3" for="Selection">Categoría: </label>
    <select id="Selection" class="form-control" formControlName="category">
        <option selected value="Máquinas">Máquinas</option>
        <option value="Tintas">Tintas</option>
        <option value="Agujas">Agujas</option>
        <option value="Kits">Kits</option>
        <option value="Otros">Otros</option>
    </select>

    <label class="mt-3">Descripción: </label>
    <textarea rows="2" cols="50" placeholder="Introduce aquí la descripción" formControlName="description" class="form-control"  name="description"></textarea>


    <label class="mt-3">Precio: </label>
    <input placeholder="Introduce aquí el precio" formControlName="price" class="form-control"  name="price">

    <label class="mt-3">Imagen: </label>
    <input placeholder="Introduce aquí la imagen" formControlName="img" class="form-control"  name="img">

    <br>
    <button id="btnAdd" type="submit" class="btn btn-dark"  [disabled]="form.invalid" (click)="addProduct()">Agregar</button>
</form>

<h3 class="mt-5">Buscar producto por id:</h3>
<input placeholder="Introduce id a buscar" class="form-control" name="id">
<br>
<button id="btnSearch" type="button" class="btn btn-dark" (click)="getProduct()">Buscar</button>    

